.wave {
    background-image: url("/src/utils/circle-scatter-haikei.svg");
    /*background-color: #212529;*/
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 56px;
    left: 0;
    height:100%;
    width:100%;
    margin: 0px 0 0 0;
}
/*.first {
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 550px;
}*/
.second {
    width: 500px;
    height: 500px;
    position: relative;
    float: right;
    top: 145px;
    left: -500px;
}
.third {
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;
    left: 50px;
}
.first {
    width: 400px;
    height: 400px;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 1.2s ease;
}
