.grid {
    border: 2px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    margin: 0 auto;
}

.cell {
    display: inline-block;
}

.apple {
    background: red;
}

.head {
    background: blue;
}

.tail {
    background: lightblue;
}